%div{:class => "main-header", :style => "height: 80px; width: 100%; background-color: #CF0000;"}
  %div{:style => "height: 30px; width: 100%"}
  %div{:id => "logo", :style => "position: fixed; left: 30%; font-family: Tahoma; color: white;"} Yelp
  %div{:style => "position: fixed; right: 30%"}
    %a{:href => "/signin"} Sign In
  %div{:style => "position: fixed; right: 15%"}
    %a{:href => "/signup"} Sign Up

%br

%form{:method => "post", :action => "/location/view"}
  %label{:for => "city"} Choose a City
  %select{:name => "city"}
    -@topics.each do |topic|
      %option{:value => topic.name} #{topic.name}
  %input{:type => "submit"}

%form{:method => "post", :action => "/topic/create"}
  %label{:for => "tname"} Make a new city
  %input{:type => "text", :name => "tname"}
  %input{:type => "submit"}
