%div{:class => "main-header", :style => "height: 80px; width: 100%; background-color: #CF0000;"}
  %div{:style => "height: 5px; width: 100%;"}
  %h2{:style => "text-align: center; color: white; font-family: Tahoma;"} Create an account

%br

%form{:method => "post", :action => "/user/create"}
  %label{:for => "username"} Username
  %input{:type => "text", :name => "username"}
  %label{:for => "password"} Password
  %input{:type => "text", :name => "password"}
  %label{:for => "confirm"} Confirm Password
  %input{:type => "text", :name => "confirm"}
  %input{:type => "submit", :value => "Create Account"}

%div{:style => "color: red;"}
  - if @pass == false
    = "Sorry, your password and confirmed password do not match. Please try again"
%div{:style => "color: red;"}
  -if @unique == false
    = "Sorry, that username already exists. Please try again"

%br
%br
%br

%div{:style => "height: 10%; width: 100%;"}
  %a{:href => "/"} Go Back